.currency {
     padding: 1rem 2rem 2rem;
     margin: 1rem;
     border-radius: 0.5rem;
     min-width: 9rem;
     border: solid 1px rgba(0, 0, 0, 0.05);
     display: block;
 }

 .currency p {
     color: rgba(0, 0, 0, 0.75);
 }

 .currency-name {
     font-size: 1.25rem;
 }

 li:nth-of-type(2n) {
     background-color: #fbe2c3;
     border-bottom: solid 4px #f7931a;
 }

 li:nth-of-type(2n-1) {
     background-color: #c2c9ff;
     border-bottom: solid 4px #454a75;
 }
